{% extends 'adminlte/lib/_main_sidebar.html' %}

{% block user_panel %}

{% endblock %}

{% block nav_links %}
    <li>
        <a href="{% url 'dashboard' %}">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
        </a>
    </li>
    <li>
        <a href="{% url 'user_list' %}">
            <i class="fa fa-user"></i> <span>Users</span>
        </a>
    </li>
    <li>
        <a href="{% url 'role_list' %}">
            <i class="fa fa-gear"></i> <span>System Roles</span>
        </a>
    </li>
    <li>
        <a href="{% url 'permission_list' %}">
            <i class="fa fa-list"></i> <span>System Features/Privileges</span>
        </a>
    </li>
     <li>
        <a href="{% url 'property_list' %}">
            <i class="fa fa-list-ul"></i> <span>Properties</span>
        </a>
     </li>
    <li>
        <a href="{% url 'country_list' %}">
            <i class="fa fa-gear"></i> <span>Countries</span>
        </a>
    </li>
     <li>
        <a href="{% url 'province_list' %}">
            <i class="fa fa-gear"></i> <span>States</span>
        </a>
    </li>
    <li>
        <a href="{% url 'city_list' %}">
            <i class="fa fa-gear"></i> <span>Cities</span>
        </a>
    </li>


{% endblock nav_links %}