{% load static %}
<!DOCTYPE HTML>
<html lang="en">
{% include "includes/header.html" %}

<body class="subpageblock">

{% include "includes/menu.html" %}
		<!-- Three -->
<section id="three" class="wrapper">
        <div class="inner">
            <header class="align-center">
                <h2>ABOUT US</h2>
            </header>
            <div class="image left">
                <img src="{% static "images/about_bg.jpg" %}" alt="Pic 01" />
            </div>
            <p>Looking for an apartment or rooms for rent? We provide you all details, which help you to find rental apartment that includes photos, landlord information and contact details to help you find your new Apartment. Website offers an online service for property managers, rental property agents and property owners to conveniently advertise one or more rental properties online. It provides tools to publish, share, track and receive feedback from prospective tenants resulting in savings in time and money.</p>

            <div class="image right">
                <img src="{% static "images/estate_03.jpg" %}" alt="Pic 02" />
            </div>
            <p>Here you can advertise rental properties such as;
Apartment, Office, Condo, Multiunit, Room, Student, Old Age Living, Basement, House, Townhouse, Bunglow, Mobile Home, Low rise, High rise, Industrial, Vacation, Retail, Commercial, Shops, Farm, Shared, Short Term, Storage, etc
We are committed to the highest standard in maintaining and caring for our assets. Our goal is to offer our clients the finest selection of rental suites of an extremely high standard. This is complemented by our outstanding customer service, leaving all clients with an exceptional experience.
</p>
            <p>Lastly, our company strives to be the symbol of quality, and the quality of life that inspires to build lasting memories.</p>
        </div>
</section>

{% include "includes/footer.html" %}

</body>
</html>