{% load static %}
{% load bootstrap3 %}

<!DOCTYPE HTML>
<html lang="en">
{% include "includes/header.html" %}

<body class="subpageblock">

		<!-- Menu -->
{% include "includes/menu.html" %}
		<!-- Three -->
       <div class="panel panel-default" style="margin-top: 100px">
           <div class="panel-heading">Change Password</div>
          <div class="panel-body">
              <form method="post" action=".">
                           {% csrf_token %}

                            {% if form.errors and not form.non_field_errors %}
                                {% for error in form.non_field_errors %}
                                    <p class="alert alert-danger">
                                        {{ error }}
                                    </p>
                                {% endfor %}
                            {% endif %}

                            {% if form.non_field_errors %}
                                {% for error in form.non_field_errors %}
                                    <p class="alert alert-danger">
                                        {{ error }}
                                    </p>
                                {% endfor %}
                            {% endif %}
                        <!-- /.box-header -->
                        <div class="box-body">
                            {% bootstrap_form form %}
                            <div class="row">
                                <div class="col-lg-6">
                                    <button type="submit" class="submit-btn btn btn-default">Update</button>
                                </div>
                            </div>

                        </div>
              </form>
          </div>
        </div>

{% include "includes/footer.html" %}

</body>
</html>