{% load static %}
<!DOCTYPE HTML>
<html lang="en">
{% include "includes/header.html" %}

<body class="subpageblock">

{% include "includes/menu.html" %}
		<!-- Three -->
<section id="three" class="wrapper">
        <div class="inner">
            <header class="align-center">
                <h2>Thank you</h2>
            </header>

            <center>Thank you for the registration. Our admin will review your profile and active you. You will receive an email of activation with password information. Thank you.</center>
        </div>
</section>

{% include "includes/footer.html" %}
</body>
</html>