{% extends 'adminlte/base.html' %}
{% load bootstrap3 %}

{% block body %}

    {% block nav_header %}
                {% include 'system/include/header.html' %}
    {% endblock %}
 <section id="page">
    {% block nav_sidebar %}
                {% include 'system/include/sidebar.html' %}
    {% endblock %}

{% block content_wrapper %}
  <div class="page-container dashboard-page-container">
          <div class="page-content">
            <div class="content-wrapper">
                <!-- Default box -->
                   <div class="box box-success">
                        <div class="box-header with-border">
                          <h3 class="box-title">Upload system features using CSV</h3>

                          <div class="box-tools pull-right">

                          </div>
                        </div>

                       <form method="post" enctype="multipart/form-data" action=".">
                           {% csrf_token %}
                        <!-- /.box-header -->
                        <div class="box-body">

                            {% if message %}
                                   <div><strong>
                                       {{ message }}
                                   </strong></div>
                            {% endif %}
                            {{ order }}
                            <div class="row">
                                <div class="col-lg-6">
                                    <label>Upload a file</label>
                                    <input type="file" name="file">
                                </div>
                            </div>
                            <div class="row">&nbsp;</div>
                            <div class="row">
                            <div class="col-lg-6">
                                    <button type="submit" class="submit-btn btn btn-primary">Upload</button>
                            </div>
                            </div>

                        </div>
                       </form>
                </div>

            </div>
          </div>

  </div>
    <!-- /.box -->
{% endblock content_wrapper %}

    {% block nav_footer %}
        {% include 'system/include/footer.html' %}
    {% endblock %}
 </section>
{% endblock body %}