{% extends 'adminlte/base.html' %}
{% load static %}

{% block extra_head %}

{% endblock %}

{% block body %}

    {% block nav_header %}
                {% include 'system/include/header.html' %}
    {% endblock %}
 <section id="page">
    {% block nav_sidebar %}
                {% include 'system/include/sidebar.html' %}
    {% endblock %}

{% block content_wrapper %}
  <div class="page-container dashboard-page-container">
          <div class="page-content">
            <div class="content-wrapper">
                <!-- Default box -->
                   <div class="panel panel-flat">
                    <div class="panel-heading">
                        <h3 class="panel-title"><b>Manage Properties</b></h3>
                      <div class="heading-elements">
                            <div class="modal fade" tabindex="-1" role="dialog" id="modal">
                                <div class="modal-dialog" role="document">
                                     <div class="modal-content">

                                     </div>
                                </div>
                            </div>

                            <!-- Create book button -->
                            <button class="create-property btn btn-primary pull-right" type="button" name="button">Create Property</button>
                      </div>
                    </div>

                   <table class="table table-bordered table-hovered "cellspacing='0'>
                        <tr>
                            <th>Property Title</th>
                            <th>Property Category</th>
                            <th>Property SellingPrice</th>
                            <th>Actions</th>
                            <th></th>
                            <th></th>
                        </tr>
                        {% for property in propertyList %}
                            <tr>
                                <td>{{ property.propertyTitle }}</td>
                                <td>{{ property.propertyCategory.CategoryName }}</td>
                                <td>${{ property.propertySellingPrice }}</td>
                                <td>
                                    <button type="button" class="update-property btn btn-sm btn-primary" data-id="{% url 'update_system_property' property.propertyID %}">
                                        <span class="fa fa-pencil"></span>
                                    </button>
                                    <button type="button" class="delete-property btn btn-sm btn-danger" data-id="{% url 'delete_system_property' property.propertyID %}">
                                        <span class="fa fa-trash"></span>
                                    </button>
                                </td>
                                <td><a class="btn btn-primary" id="btnOpen_{{ property.propertyID }}" href="{% url "assign_property" property.propertyID %}">Assign Property</a></td>
                                <td><a class="btn btn-primary" id="btnImage_{{ property.propertyID }}" href="{% url "property_image" property.propertyID %}">Upload Images</a></td>
                            </tr>
                        {% endfor %}
                    </table>
                  </div>

            </div>
          </div>

  </div>
    <!-- /.box -->
{% endblock content_wrapper %}

    {% block nav_footer %}
        {% include 'system/include/footer.html' %}
    {% endblock %}
 </section>

{% block javascript %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{% static 'assets/js/jquery.bootstrap.modal.forms.js' %}"></script>
    <script src="{% static "admin-lte/dist/js/app.min.js" %}"></script>
    <script type="text/javascript">
    $(function () {
    // Sign up button
        $(".create-property").modalForm({formURL: "{% url 'property_system_create' %}"});

        $(".update-property").each(function () {
          $(this).modalForm({formURL: $(this).data('id')});
        });

         $(".delete-property").each(function () {
          $(this).modalForm({formURL: $(this).data('id')});
        });


    });


    </script>
{% endblock %}
{% endblock body %}